provider "google" {
  project = var.project_name
  region  = var.region
}

module "amarok-main" {
  source                  = "./modules/amarok"
  module_name             = "router"
  subnetwork              = var.subnetwork
  routers                 = var.routers
  use_gcp_memstore        = var.use_gcp_memstore
  use_monitoring_instance = var.use_monitoring_instance
  network_name            = "${var.router_name}-${var.network_name}"
  cloudnat_name           = "${var.router_name}-${var.cloudnat_name}"
  region                  = var.region
  source_ranges           = var.source_ranges
  bastion_instance        = var.bastion_instance
  web3signer_instance     = var.web3signer_instance
  router_instance         = var.router_instance
  monitoring_instance     = var.monitoring_instance
  redis                   = var.redis
  ssh_keys                = var.ssh_keys
}
